<!-- <center>
    <h1><a href='/'>
      <img border="2" height="150" width="150" src="./img/arie.jpg">
    </a></h1>
</center> 
<ul id='links'>
    <li><a href='#about'>About Me</a></li>
    <li><h2>Stuff</h2>
      <ul>
          <li class=''><a href='#'></a></li>        
          <li class=''><a href='#research'>Research</a></li>
          <li class=''><a href='#publication'>Publication</a></li>
          <li class=''><a href='#project'>On Going Project</a></li>
          <li class=''><a href='#experience'>Experience</a></li>
          <li class=''><a href='#professional-membership'>Professional Membership</a></li>
          <li class=''><a href='#invited-talks'>Invited Talks</a></li>
          <li class=''><a href='#awards'>Awards</a></li>
      </ul>
    </li>
     <li><a href="./img/arie.wahyu.pdf" target="_blank">CV</a></li> 
</ul>
 -->
<!-- 
<h1>{{ site.title }}</h1>
<ul id='links'>
  {% for post in site.posts %}
    {% if post.category == null %}
    <li><a href='#{{ post.url }}'>{{ post.title }}</a></li>
    {% endif %}
  {% endfor %}
  {% for category in site.categories %}
  <li><h2>{{ category | first }}</h2>
    <ul>
    {% for posts in category %}
      {% for post in posts %}        
        <li class='{{ post.type }}'><a href='#{{ post.url }}'>{{ post.title }}</a></li>
      {% endfor %}
    {% endfor %}
    </ul>
  </li>
{% endfor %}
</ul>